.App {
  text-align: center;
  height: 130%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
}

/* NAV BAR */

.navBar {
  display: flex;
  width: 100%;
  padding-top: 0%;
  margin-bottom: 3%;
  top: 0;
  height: 9%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 2;
}

.navLeft {
float: left;
width: 50%;
text-align: left;
}

.navLeft ul {
  margin-left: -2%
}

.navLeft li {
  margin-left: 2%
}

.navRight {
width: 50%;
margin-top: .7%;
text-align: right;
}

.navRight li {
  margin-right: 4%;
}

.navLeft li:first-of-type {
  font-size: xx-large;
  color: rgba(221, 117, 32, 0.986);
  font-family: 'Yeseva One';
}

.navBar li {
  display: inline;
  color: white;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: -1%;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.navBar ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 1%;
  padding-right: 1%;
  margin-top: 1%; */
  
}

.navBar a:hover {
  text-decoration: none;
  color: rgb(250, 178, 115);
}

.navBar a {
  text-decoration: none;
  color: black;
}

/* MAIN CONTAINER / CONTENT VIEW */

.contentView {
  height: 100%;
  width: 100%;
  margin-top: 4%;
  background-color: peachpuff;
}

/* LANDING PAGE */

.landingPage {
  height: 600px;
}

.landingPage p:first-of-type{
  font-size: 200px;
  margin: 0;
  color: white;
  font-family: 'Yeseva One';
}

.landingPage p{
  font-family: 'Montserrat';
  font-size: 3.2em;
  letter-spacing: 3px;
  margin: 0;
}