.App {
  text-align: center;
  display: flex;
}

.landing-page-temp {
color: rgb(243, 187, 138);
width: 100%;
font-size: xx-large;
margin: auto;
float: left
}

.landing-page-temp p:first-child {
font-size: 32vh;
font-style: normal;
margin-bottom: -3%;
margin-top: 12%;
font-family: 'Montserrat', sans-serif;
}

.landing-page-temp p {
  font-family: 'Raleway', sans-serif;
  font-size: 3vh;
}

.landing-page-temp p:last-child {
  margin-top: 13%;
  font-size: 1.8vh;
  font-weight: bold;
}

